# Data Analysis with Pandas:
# Cycle Share Data set 
## abed alaziz alsalahat
#### *25/May/2021 - 12:15 pm*

1. What is the average trip duration for a borrowed bicycle?

2. What’s the most common age of a bicycle-sharer?

3. Given all the weather data here, find the average precipitation per month, and the median precipitation.

4. What’s the average number of bikes at a given bike station?

5. When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

6. Come up with 3 more questions that can be answered with this data set.

___

In [24]:
import pandas as pd

In [32]:
station_df = pd.read_csv('./station.csv')
station_df.keys()

Index(['station_id', 'name', 'lat', 'long', 'install_date',
       'install_dockcount', 'modification_date', 'current_dockcount',
       'decommission_date'],
      dtype='object')

In [33]:
weather_df = pd.read_csv('./weather.csv')
weather_df.keys()

Index(['Date', 'Max_Temperature_F', 'Mean_Temperature_F', 'Min_TemperatureF',
       'Max_Dew_Point_F', 'MeanDew_Point_F', 'Min_Dewpoint_F', 'Max_Humidity',
       'Mean_Humidity', 'Min_Humidity', 'Max_Sea_Level_Pressure_In',
       'Mean_Sea_Level_Pressure_In', 'Min_Sea_Level_Pressure_In',
       'Max_Visibility_Miles', 'Mean_Visibility_Miles', 'Min_Visibility_Miles',
       'Max_Wind_Speed_MPH', 'Mean_Wind_Speed_MPH', 'Max_Gust_Speed_MPH',
       'Precipitation_In', 'Events'],
      dtype='object')

In [34]:
trip_df = pd.read_csv('trip.csv', error_bad_lines=False)
trip_df.keys()

b'Skipping line 50794: expected 12 fields, saw 20\n'

Index(['trip_id', 'starttime', 'stoptime', 'bikeid', 'tripduration',
       'from_station_name', 'to_station_name', 'from_station_id',
       'to_station_id', 'usertype', 'gender', 'birthyear'],
      dtype='object')

___
## 1. ~*What is the average trip duration for a borrowed bicycle?*~

In [27]:
trip_df['tripduration'].mean()

1178.2956753399776

___
## 2. ~*What’s the most common age of a bicycle-sharer?*~

In [28]:
2020 - trip_df['birthyear'].mode()[0]

33.0

___
## 3. ~*Given all the weather data here, find the average precipitation per month, and the median precipitation.*~

In [50]:
weather_df['Precipitation_In']


# find avg precipitation per month
# find the median precipitation

def to_month(cell):
    return int(cell.split('/')[0])
weather_df['Month'] = weather_df['Date'].apply(to_month)
weather_df['Month']

# avg
print('avg/mean')
print(weather_df.groupby('Month')['Precipitation_In'].mean())
print('\n\n\n\n\n')

# median 
print('median')
print(weather_df.groupby('Month')['Precipitation_In'].median())

avg/mean
Month
1     0.143548
2     0.168421
3     0.156935
4     0.051333
5     0.012419
6     0.030500
7     0.012097
8     0.018226
9     0.041000
10    0.189000
11    0.187833
12    0.236290
Name: Precipitation_In, dtype: float64






median
Month
1     0.020
2     0.040
3     0.025
4     0.000
5     0.000
6     0.000
7     0.000
8     0.000
9     0.000
10    0.040
11    0.035
12    0.100
Name: Precipitation_In, dtype: float64

___
## 4. ~*What’s the average number of bikes at a given bike station?*~

In [51]:
# avg bike num in station
date = station_df[station_df['decommission_date'].isnull()]
date['current_dockcount'].mean()

17.74074074074074

___
## 5. ~*When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?*~

In [52]:
# remove empty rows
modify = station_df[['modification_date','install_dockcount','current_dockcount']].dropna()
current = modify['current_dockcount'].sum()
install = modify['install_dockcount'].sum()
current - install

-64

___
___
## 6. ~*Come up with 3 more questions that can be answered with this data set.*~

### 6.1. *What are the top five hotter days at all?*

In [53]:
weather_df.sort_values('Max_Temperature_F', ascending=False).head()[['Date','Max_Temperature_F']]

          Date  Max_Temperature_F
279  7/19/2015                 98
676  8/19/2016                 95
263   7/3/2015                 93
291  7/31/2015                 93
682  8/25/2016                 93

### 6.2 *when is the highst air pressure?*

In [54]:
weather_df.sort_values('Max_Sea_Level_Pressure_In', ascending=False).head()[['Date','Max_Sea_Level_Pressure_In']]

           Date  Max_Sea_Level_Pressure_In
78   12/30/2014                      30.86
77   12/29/2014                      30.74
79   12/31/2014                      30.73
444  12/31/2015                      30.58
439  12/26/2015                      30.57

## 6.3. *The most common gender in trips?*

In [55]:
trip_df[["gender"]].mode()

  gender
0   Male

___
___
___